#services {
  padding: 50px;
  background-color: #33658a; 
  color: white;
}

.service-content {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-bottom: 70px; /* Space between service sections */
}

.service-image {
  margin-right: 20px; 
}

.service-image img {
  width: 300px;  /* Fixed width for the images */
  height: 200px; /* Fixed height */
  object-fit: cover; /* Maintain aspect ratio */
  border-radius: 10px; /* Rounded corners for images */
}

.service-text {
  max-width: 60%;
}

.service-text h2 {
  color: white; 
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 10px; /* Space below the heading */
}

.service-text p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.service-button {
  display: inline-block;
  margin-top: 10px; /* Reduced margin above button */
  padding: 10px 20px;
  background-color: #303030; 
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.service-button:hover {
  background-color: #5a5a5a; 
}
